{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    {% block style %}

    {% endblock %}
</head>
<body>
    <nav class="barra-navegacion">
        <div class="marca">
            <a href="" class="logo">
                <img src="{% static 'img/logo_mama_susana.png' %}" alt="Logo Munchies" class="logo-img">
            </a>
        </div>
        <div class="menu-hamburguesa">
            <span class="linea"></span>
            <span class="linea"></span>
            <span class="linea"></span>
        </div>
        <div class="menu-navegacion">
            <a href="{% url 'inicio' %}" class="enlace-nav">Inicio</a>
            <a href="{% url 'productos' %}" class="enlace-nav">Productos</a>
            <a href="" class="enlace-nav">Reservas</a>
            <a href="" class="boton-nav">Contáctanos</a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="pie-pagina">
        <div class="contenido-pie">
            <div class="marca-pie">
                <img src="{% static 'img/logo_mama_susana.png' %}" alt="Logo Munchies" class="logo-pie">
            </div>
            <div class="enlaces-pie">
                <a href="">Inicio</a>
                <a href="">Productos</a>
                <a href="">Reservas</a>
            </div>
            <div class="redes-sociales">
                <a href="tel:0123456789"><i class="fas fa-phone"></i> 012 345 6789</a>
                <a href="https://www.instagram.com/chocolatemamasusana?igsh=MWE3ZTE1eTRoeHV4Yg==" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="https://www.facebook.com/share/1Bakd4fbVq/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
            </div>
        </div>
        <div class="pie-inferior">
            <p>Copyright © 2025 Casa de la Mamá Susana. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>