{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cinema Los Andes</title>

    <link rel="shortcut icon" type="imagen/x-icon" href="{% static 'imgagenes/Logo.jpeg' %}"/>
    <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' %}" rel="stylesheet" type="text/css" />
    
    {% block style %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% endblock %}
</head>


<body class="bg-dark text-white d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-danger" id="mainNav">
        <div class="container d-flex align-items-center">
            <a href="{% url 'inicio' %}">
                <img src="{% static 'imagenes/logo.jpeg' %}" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 40px;">
            </a>
            <a class="navbar-brand" style="color: #fff; text-decoration: none;" href="{% url 'inicio' %}">Cinema Los Andes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" style="font-size: 15px;" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'cartelera' %}">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'peliculas' %}">Peliculas</a></li>    
                    <li class="nav-item"><a class="nav-link" href="{% url 'contactenos' %}">Contactenos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'somos' %}">Quienes Somos</a></li>
                    <li>
                        <a class="nav-link" href="{% url 'login' %}"><i class="fa-regular fa-user" style="color: #fff;"></i></a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    
    <div class="container my-auto">
        <!-- Tu contenido aquí -->
    </div>
    {% endblock %}

    <!-- FOOTER -->
    <footer class="footer text-center bg-danger mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-6" style="font-size: 20px;">
                    <h4 class="" style="color: #fff;">Cinema Los Andes</h4>
                    <p class="" style="color: #fff;">📍 Dirección: calle 7 # 9-60 centro, Garzon, Colombia</p>
                    <p class="" style="color: #fff;">📞 Teléfono: 3208497878</p>
                    <p class="" style="color: #fff;">📧 Email: cinemalosandes@gmail.com</p>
                </div>
                <div class="col-md-6">
                    <h4 class="" style="color: #fff;">Síguenos en nuestras redes</h4>
                    <div class="social-icons">
                        <a href="https://facebook.com/cinemalosandes" target="_blank"><i class="fab fa-facebook" style="color: #fff; font-size: 24px;"></i></a>
                        <a href="mailto:contacto@cinemalosandes.com">
                            <i class="fas fa-envelope" style="color: #fff; font-size: 24px;"></i>
                        </a>
                        <a href="https://instagram.com/cinemalosandes" target="_blank">
                            <i class="fab fa-instagram" style="color: #fff; font-size: 24px;"></i>
                        </a>
                    </div>
                    <a href="https://wa.me/573208497878" target="_blank" style="color: #fff; text-decoration: none; font-size: 24px;">
                        <i class="fab fa-whatsapp" style="color: #fff; margin-right: 5px;"></i> Chatea Con Nosotros
                    </a>
                </div>
            </div>
            <p class="" style="color: #fff;">&copy; 2024 Cinema Los Andes. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="{% static 'https://use.fontawesome.com/releases/v6.3.0/js/all.js' %}" crossorigin="anonymous"></script>
</body>
</html>
