{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
{% block content %}

    <div class="container mt-5">
        <h2>Peliculas</h2>
        <a href="{% url'agregar_Peliculas' }" class="btn btn-primary mb-3"> agregar Nuevos Estrenos</a>
        <div class="row">
            {% for productos in productos %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ peliculas.imagen.url }}" class="card-img-top" alt="{{ productos }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ Peliculas.nombre }}</h5>
                        <p class="card-text">{{ Peliculas.descripcion }}</p>
                        <p class="card-text"> precio: ${{ Peliculas.precio }}</p>
                        <p class="card-text"> stock: ${{ Peliculas.stock }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="(% static js/bootstrap.bundle.min.js' X)"></script>
     {% endblock %}
