<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cinema Los Andes</title> -->
    {% extends 'base.html' %}

    {% load static %}
   
    {% block style %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% endblock %}

    {% block content %}

    <body style="background: black;">    
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <!-- Botón para cerrar -->
                <button type="button" class="btn-close position-absolute end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body text-center">
                                    <!-- Título -->
                                <h2 class="text-uppercase">50 Sombras De Grey</h2>
                                    
                                    <!-- Video del tráiler -->
                                <iframe class="d-block mx-auto my-3" width="560" height="315" 
                                        src="https://www.youtube.com/embed/wIqz_08P2Hk?si=TgdIzayYJVRjE5I6" 
                                        title="YouTube video player" frameborder="0" 
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                </iframe>
                                    
                                    <!-- Descripción -->
                                <p class="my-3">
                                        Anastasia Steele, una joven estudiante, conoce al misterioso magnate Christian Grey y se ve inmersa en una relación intensa que mezcla amor, deseo y los límites del control personal. Mientras sus mundos chocan, ambos deben enfrentar sus pasados y las complejidades de su relación poco convencional.
                                </p>
                                    
                                    <!-- Estrellas de valoración -->
                                <div class="my-2">
                                        <i class="fa fa-star check"></i>
                                        <i class="fa fa-star check"></i>
                                        <i class="fa fa-star check"></i>
                                        <i class="fa fa-star check"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                    
                                    <!-- Categoría -->
                                <p><strong>Categoría: Romance y Drama</strong></p>
                                    
                                    <!-- Botón para cerrar -->
                                <button class="btn btn-danger btn-xl text-uppercase mt-3" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i> Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/911.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Alien</h2>
                                <iframe class="col-sm-6 col-lg-12" width="560" height="315" src="https://www.youtube.com/embed/5nWH2Pd-x-c?si=67FhXUR_0jnn_rRb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>A bordo de la nave Nostromo, la tripulación despierta para investigar una señal misteriosa. Pronto descubren que han llevado a bordo un letal alienígena que amenaza con destruirlos uno a uno, desatando un aterrador juego de supervivencia.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/1899.jpeg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Avatar</h2>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/FSyWAxUg3Go?si=X3qXouiAMUxsJeKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>En el mundo de Pandora, un exmarine discapacitado, Jake Sully, participa en un programa que le permite habitar un cuerpo Na'vi. Mientras se conecta con la comunidad alienígena y su entorno, debe decidir entre cumplir con su misión o proteger su nuevo hogar.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/alien.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">DeadPoll & Wolverine</h2>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/kxyyKU8rgaU?si=hNuFz-s-S3AXLwIy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p> Wade Wilson, el irreverente Deadpool, se enfrenta a situaciones hilarantes y peligrosas mientras cruza caminos con Wolverine, quien aporta un enfoque más serio y brutal a las batallas, generando una dinámica explosiva entre ambos.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/avatar.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Ciudad Perdida</h2>
                                <p class="item-intro text-muted"></p>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/DWq5cjkxEQQ?si=7heUBrFS03MwUDrD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p> Una escritora de novelas románticas, Loretta Sage, es secuestrada por un excéntrico millonario para buscar un tesoro perdido. Junto con el modelo de sus portadas, termina viviendo una divertida y peligrosa aventura en la selva.

                                </p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imgagenes/you.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Garfield</h2>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/6aeM7hfhmyM?si=z_MOrZiculmxU355" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>El famoso gato perezoso y amante de la lasaña se embarca en aventuras llenas de humor y travesuras, mientras su dueño, Jon, trata de mantener la cordura.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/venom.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Godzilla vs Kong</h2>
                                <p class="item-intro text-muted"></p>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/Kqg8zLgESyQ?si=w5NhSxC6vE-EMNJH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>Dos titanes icónicos chocan en una batalla épica mientras la humanidad intenta descubrir los misterios detrás de sus orígenes y el equilibrio que representan para la Tierra.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/swat.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Intensamente 2</h2>
                                <p class="item-intro text-muted"></p>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/xiC2iXTXHxw?si=B2mLedpVGxpKjDku" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p>La aventura continúa dentro de la mente de Riley, con sus emociones enfrentando nuevos desafíos mientras lidian con los cambios de la adolescencia y la llegada de emociones inéditas.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong>Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'imagenes/soy-leyenda.jpg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="portfolio-item">
                                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                    <div class="portfolio-hover" style="background-color: rgba(15, 15, 15, 0.7);">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="{% static 'imagenes/50-sombras.jpg' %}" alt="50 Sombras de Grey"/>
                                </a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">50 Sombras De Grey</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase" style="color: black;">Peliculas De Estreno</h2>
                <h3 class="section-subheading text-muted">  </h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/50-sombras.jpg' %}"/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">50 Sombras De Grey</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/alien.jpg'%}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Alien</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/amigos.jpeg'%}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Avatar</div>   
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/deapool.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">DeadPoll & Wolverine</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/ciudad-perdida.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Cuidad Perdida</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/garfield.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Garfield</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/godzilavskong.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Godzilla vs Kong</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal8">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/intensamente.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Intensamente 2</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal9">
                            <div class="portfolio-hover" style="background-color: #0f0f0fad;">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/joker.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Joker</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-center mt-5">
            <nav aria-label="Page navigation example ">
                <ul class="pagination bg-dark">
                <li class="page-item"><a class="page-link bg-dark" style="color: #fff;" href="peliculas.html">1</a></li>
                <li class="page-item"><a class="page-link bg-dark" style="color: #fff;" href="peliculas_2.html">2</a></li>
                <li class="page-item"><a class="page-link bg-dark" style="color: #fff;" href="peliculas_2.html">Siguiente</a></li>
                </ul>
            </nav>
        </div>     -->
    </section>  

    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'https://cdn.startbootstrap.com/sb-forms-latest.js' %}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

{% endblock %}