
{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
 
 {% block content %}
<body>
    <div class="container text-center mt-6">
        <h1 class="text-danger">Misión y Visión</h1>
    </div>
    
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h2 class="text-secondary" style="color: #fff;">Misión</h2>
                    <p>Ofrecer productos y servicios de alta calidad que satisfagan las necesidades de nuestros clientes, basados en principios de ética, innovación y respeto al entorno.</p>
                </div>
            </div>      
            <div class="col-md-6">
                <div class="card shadow-sm p-4">
                    <h2 class="text-secondary" style="color: #fff;">Visión</h2>
                    <p>Ser una empresa líder en innovación y sostenibilidad, contribuyendo al bienestar de la sociedad y el medio ambiente, siempre comprometidos con la excelencia.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center mt-4">
        <h2 class="text-danger">Ubicación</h2>
        <p>Estamos ubicados en el Municipio de Garzón Huila. ¡Ven y disfruta del mejor cine!</p>
        <div class="ratio ratio-4x3" style="max-width: 800px; margin: auto;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15947.5426168763!2d-75.628048!3d2.196944!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e24d974a29af44d%3A0x29fa810143940f05!2sCinema%20Los%20Andes!5e0!3m2!1ses-419!2sco!4v1733149385700!5m2!1ses-419!2sco" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</body>
{% endblock %}