.container { 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    height: auto;
    background-attachment: fixed;

   
}
