.contenedor { 

    width: 100%;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    height: auto;

}
.contenedor {
    background: url('/static/img/chocolate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}